# Python
venv/
__pycache__/
*.pyc
*.pyo

# Streamlit secrets
.streamlit/secrets.toml
src/web_app/.streamlit/secrets.toml

# Models & artifacts
models/
*.pkl

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
